{% extends 'base.html' %}

{% block content %}
  <h2>{{ playlist.name }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Genre</th>
        <th>Length</th>
      </tr>
    </thead>
    <tbody>
      {% for audio in audio_list %}
        <tr>
          <td>{{ audio.id }}</td>
          <td>{{ audio.title }}</td>
          <td>{{ audio.artist }}</td>
          <td>{{ audio.album }}</td>
          <td>{{ audio.genre }}</td>
          <td>{{ audio.length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
